/* Styling for all buttons that remove cart products */
.removeCartProductButton {
    margin: 10px;
    border: none;
    font-size: 15px;
    padding: 5px;
}

.removeCartProductButton:hover {
    cursor: pointer;
}