.testimonial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;

  margin-bottom: 10rem;
  margin-top: 5rem;
  /* height: 80vh; */
  text-align: center;
}

.testimonial-section > h2 {
  color: white;
}

carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 30rem;
  /* gap: 1rem; */

  /* height: 40rem; */
  flex-wrap: wrap;
  overflow: hidden;
}

@media (max-width: 600px) {
  .testimonial-section > h2 {
    font-size: 2.7rem;
  }

  carousel {
    /* height: 40%; */
    gap: 2rem;
  }

  item {
    /* margin-left: 5rem;
    margin-right: 5rem; */
  }
}
