
#Testimonials{
  text-align: center;
}

#Testimonials > h2{
  margin-top: 5rem;
  color: white;
}

carousel{
    display: flex;
    align-items: center;
    height: 60rem;
    justify-content: space-around;

}

item {
    height: 30rem;
    width: 60rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: 0.3s ease-out;
    
    padding: 2.4rem;
    text-align: center;
    border-radius: 1rem;
    background-color: white;


}

.rating{
  display: flex;
  gap: 1rem;
}

.rating > i{
  color: darkslategrey;
}

.portrait-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* Temporary static images for testimonials */

#Sean{
  display: block;

  height: 7rem;
  width: 7rem;
  background-image: url("/src/assets/img/Sean.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 50%;
}

#Toni{
  display: block;

  height: 7rem;
  width: 7rem;
  background-image: url("/src/assets/img/Toni.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 50%;

}

#Sarah{
  display: block;

  height: 7rem;
  width: 7rem;
  background-image: url("/src/assets/img/Sarah.jpg");
  background-size: cover;
  background-position: center;

  border-radius: 50%;

}

/* Experimental responsive layouts */

@media (max-width: 1200px) {

  carousel > *:first-child{
    display: none;
  }

  item{
    height: 35rem;
    width: 40rem;

    transition: 0.1s ease-out;
  }
}

@media (min-width: 1201px) {

  item{
    height: 35rem;
    width: 30rem;
  }
}

@media (min-width: 1550px) {

  item{
    height: 30rem;
    width: 40rem;
  }
}

@media (min-width: 1700px) {

  item{
    height: 25rem;
    width: 50rem;
  }
}

@media  (min-width: 2000px) {

  item{
    height: 30rem;
    width: 60rem;
  }
}
