main{
    display: grid;
    height: 100vh;
    background: linear-gradient(to right, #087f5b, #032f22);
    background-size: cover;
    background-position: center center;
    background-image: url("/src/assets/img/Coffe_7000_x_4000-no-bg.png");

    margin-bottom: 10rem;
}

content{
    grid-column: 1;
    grid-row: 1;

    display: grid;
    justify-content:center;
    z-index: 1;
    height: 27rem;
    width: 60rem;
    gap: 5rem;

    margin-top: 30rem;
    margin-left: 20rem;
    
}

main-title {
    z-index: 3;
    width: 70rem;
    grid-column: 1;
    grid-row: 1;

    font-family: 'SoDoSans', sans-serif;
    font-size: 9rem;
    color: #f7f7f7;
}

button{
    grid-column: 1;
    grid-row: 2;
    width: 14rem;
    height: 7rem;
    border-radius: 10px;

    background-color: #f7f7f7;
    color: #343a40;
    border: 0;

    margin-left: 22rem;
}
