nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;


    height: 9rem;

    box-shadow: 1px 1px 5px black;
    background-color: white;
    z-index: 5;
}

page{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

page > h4:hover{
    color: #087f5b;
    cursor: pointer;
}

#cart {
    margin-left: auto;
    margin-right: 3rem;
    color: #343a40;
}

#logo {
    display: inline-block;
    width: 5rem;
    height: 5rem;

    margin-left: 3rem;
    margin-right: 2rem;

    color: #f8f9fa;
    background-color:  #087f5b;
    border-radius: 50%;
}

#logo::before{
    display: inline-block;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
}

