main{
    position: relative;
    display: grid;
    height: 100vh;
}

img {
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
    height: 100vh;

    background-image: url("/img/Coffe_7000_x_4000-removebg\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover; 
}

block {
    z-index: -1;
    grid-column: 1;
    grid-row: 1;
    background: linear-gradient(to right, #087f5b, #032f22);
}

content{
    grid-column: 1;
    grid-row: 1;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    z-index: 1;
    height: 27rem;
    width: 60rem;
    gap: 10rem;

    border-radius: 1rem;
    margin-top: 20rem;
    margin-left: 8rem;
}

main-title {
    z-index: 1;
    width: 60rem;

    grid-column: 1;
    grid-row: 1;
    margin-left: 10rem;

    font-family: 'jost' ,sans-serif;
    font-size: 7rem;
    color: white;
    /* text-shadow: 0.1rem 0.1rem 3rem black; */
}

