/* Global size reset */
html, body {
    font-size: 62.5%; /* Reset 1rem to 10px */
    /* font-family: "PT Sans", Calibri, Tahoma, sans-serif; */
    margin: 0;
    height: 100%;
}

#root{
    background: linear-gradient(to right, #087f5b, #032f22);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'SoDoSans-Bold',sans-serif;
}

p{
    font-family: 'Tilt Neon', sans-serif;
}

/* Specified sizes */
p, label, input, button, li {
    font-size: 1.6rem;
}

h1, h2, h3 ,h4 ,i {
    color: #343a40;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 4.8rem;
    font-family: 'SoDoSans', sans-serif;
}

h3 {
    font-size: 2.4rem;
}

h4{
    font-size: 1.6rem;
}

input, button {
    margin-top: 0.6rem;
    display: inline-block;
}

@font-face {
    font-family: "SoDoSans-Bold";
    src: url("/src/assets/fonts/SoDoSans-Bold.ttf");
}

@font-face {
    font-family: "SoDoSans";
    src: url("/src/assets/fonts/SoDoSans-Regular.ttf");
}


